<!DOCTYPE html>
<html>

<head>
    <title>SKILLS</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
    <nav>
        <a href="/">HOME</a>
        &nbsp;&nbsp;|&nbsp;&nbsp;
        <a href="/skills">ALL Skilz</a>
        &nbsp;&nbsp;|&nbsp;&nbsp;
        <a href="/skills/new">ADD Skilz</a>
    </nav>